################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sharedlanguageresources.client/.nx/cache
/sharedlanguageresources.client/.vscode
/sharedlanguageresources.client/obj/Debug
/SharedLanguageResources.Server/bin/Debug/net8.0
/SharedLanguageResources.Server/obj
